@page
@model LibraryWeb.Pages.BorrowerModel
@{
    ViewData["Title"] = "Borrower";
}

<div class="text-center">
<form method="post">
    <label for="value1">Borrower Name:</label>
    <input asp-for="name" id="value1" /><br><br>
    <label for="value2">Password:</label>
    <input asp-for="pw" type="password" id="value2" /><br><br>
    <button type="submit">Enter</button>
</form>
</div>

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-page="/SignUp">Sign-up here is you are a new borrower</a>
</div>


