@page
@model LibraryWeb.Pages.BorrowerModel
@{
    ViewData["Title"] = "Borrower";
}

<div class="text-center">
<form method="post">
    <label for="value1">Borrower Name:</label>
    <input  id="value1" /><br><br>
    <label for="value2">Password:</label>
    <input type="password" id="value2" /><br><br>
    <button type="submit">Submit</button>
</form>
</div>


<div class="text-center">
<p>SIGN UP</p>
<form method="post">
    <label for="value1">Borrower Name:</label>
    <input  id="value1" /><br><br>
    <label for="value1">Phone Number:</label>
    <input  id="value1" /><br><br>
    <label for="value2">Password:</label>
    <input type="password" id="value2" /><br><br>
    <label for="value2">Confirm Password:</label>
    <input type="password" id="value2" /><br><br>
    <button type="submit">Submit</button>
</form>
</div>
