@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Which type of user are you?</h2>
    <button>Librarian</button>
    <button>Borrower</button>
</div>
