@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.button {
background-color: #2357e7;
border: none;
color: rgb(0, 0, 0);
padding: 25px 42px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 7px 5px;
cursor: pointer;
}

</style>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="h2">Select the appropriate identifier for you</h2>
    <br>
    <br>
    <label class = "button">
        <a class="nav-link text-dark" asp-area="" asp-page="/Librarian">Librarian</a>
    </label>
    <label class = "button">
        <a class="nav-link text-dark" asp-area="" asp-page="/Borrower">Borrower</a>
    </label>
</div>
