@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.btn.btn__reverse[aria-pressed="true"]
{
	background-color: #ffffff;
	color: #130377;
}

.button {
background-color: #2357e7;
border: none;
color: #101010;
padding: 25px 42px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 7px 5px;
border-color: transparent;
cursor: pointer;
}

</style>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="h2">Select the appropriate identifier for you</h2>
    <br>
    <br>
        <button class="button" onclick="window.location.href='Librarian'">Librarian</button>
    
        <button class="button" onclick="window.location.href='Borrower'">Borrower</button>
    
</div>
