@page
@model LibraryWeb.Pages.LibrarianModel
@{
    ViewData["Title"] = "Librarian";
}

<div class="text-center">
<form method="post">
    <label for="value1">Librarian Name:</label>
    <input asp-for="name" id="value1" /><br><br>
    <label for="value2">Password:</label>
    <input type="password" asp-for="pw" id="value2" /><br><br>
    <button type="submit">Submit</button>
</form>
</div>

