@page
@model LibraryWeb.Pages.LPortalModel
@{
    ViewData["Title"] = "Librarian Portal";
}

<style>
.button {
background-color: #2357e7;
border: none;
color: rgb(0, 0, 0);
padding: 25px 42px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 7px 5px;
cursor: pointer;
}
</style>
<div class="text-center">
    <button class="button" onclick="window.location.href='Inventory'">Inventory</button>
    
    <button class="button" onclick="window.location.href='Communication'">Communicationr</button>
    

</div>
