@page
@model LibraryWeb.Pages.MessageModel
@{
    ViewData["Title"] = "LIBRARY MANAGER-MESSAGE";
}

<div>
    THIS IS WHERE COMMUNICATION TAKES PLACE
</div>

<p>@Model.borrower.fullname</p><br>
<p>@Model.borrower.phonenumber</p><br>
<p>@Model.borrower.penaltiesdue</p><br>

