@page
@model LibraryWeb.Pages.MessageModel
@{
    ViewData["Title"] = "LIBRARY MANAGER-MESSAGE";
    string? parameterValue = Request.Query["User"];
}

<div>
    THIS IS WHERE COMMUNICATION TAKES PLACE
</div>
<p>Parameter Value: @parameterValue</p>
